@tailwind base;
@tailwind components;
@tailwind utilities;

.bgc {
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(../assets/img/angkasa.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}









#navbar {
    display: inline-block;
    cursor: pointer;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: #ff4400;
    margin: 6px 0;
    transition: 0.4s;
}

#hamburger:hover .hamburger{
    background-color: #ffffff;

}

.change #bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

